*.pkl filter=lfs diff=lfs merge=lfs -text
cosine_similarity.pkl filter=lfs diff=lfs merge=lfs -text
C:/Users/MY[[:space:]]PC/OneDrive/Documents/GitHub/ML-Product-Recommendation/cosine_similarity.pkl filter=lfs diff=lfs merge=lfs -text
